{
    "presets": [
        ["@babel/preset-env"],
        ["@babel/preset-react"]
        // ["@babel/preset-typescript"] // 让babel
        
    ]
//    "plugins": [["@babel/plugin-transform-runtime"]] // 解析 async await
}